:root {
    --red: #cc0001;
    --white: #fff;
    --blue: #010066;
    --black: #000;
    --yellow: #ffcc00;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .flag {
    display: grid;
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 50% 50%;
    width: 600px;
    height: 300px;
    border: 2px solid var(--black);
  }
  
  .top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.25% 20%;
    background-color: var(--blue);
  }
  
  .top-right {
    background: repeating-linear-gradient(
      0deg,
      var(--red),
      var(--white) 0 12.5%,
      var(--red) 12.5% 25%
    );
  }
  
  .bottom {
    grid-column: span 2;
    background: repeating-linear-gradient(
      0deg,
      var(--red),
      var(--white) 0 16.7%,
      var(--red) 16.7% 33.3%
    );
  }
  
  .moon {
    position: relative;
    width: 70%;
    margin-right: -4px;
    border-radius: 50%;
    box-shadow: inset 15px 0px 0 7px var(--yellow);
  }
  
  .moon:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .stars {
    position: relative;
    margin-right: 50px;
  }
  
  .star-container {
    position: absolute;
  }
  
  .star-container:nth-child(2) {
    transform: rotate(calc(180deg / 7));
  }
  
  .star-container:nth-child(3) {
    transform: rotate(calc(180deg / 7 * 2));
  }
  
  .star-container:nth-child(4) {
    transform: rotate(calc(180deg / 7 * 3));
  }
  
  .star-container:nth-child(5) {
    transform: rotate(calc(180deg / 7 * 4));
  }
  
  .star-container:nth-child(6) {
    transform: rotate(calc(180deg / 7 * 5));
  }
  
  .star-container:nth-child(7) {
    transform: rotate(calc(180deg / 7 * 6));
  }
  
  .star {
    position: relative;
    width: 0;
    height: 0;
    margin-top: -50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 50px solid var(--yellow);
    /* Uncomment the code below to 
       fix the sub-pixel rendering issue */
    /* transform: translateZ(1px); */
  }
  
  .star:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 50px solid var(--yellow);
    left: -10px;
    top: 50px;
  }